<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/w3.css">
    <style>
        body {
            font: 13px Helvetica, Arial, sans-serif;
        }
        .error {
            color: red
        }
        .success {
            color: green;
        }
    </style>
</head>
<body>
