


<% var title = 'Formulaire inscription' %>
<% include head %>

<div class="w3-display-container " style="height:600px">
<div class="w3-card-4 w3-display-middle" style="margin-top: 80px">

<div class="w3-container w3-orange">
<h1>S'inscrire</h1>
</div>

<form class="w3-container w3-padding-large" method="post" action="/inscription">
  <p>
    <label>Nom:</label>
    <input type="text" name="nom">
  </p>
  <p>
    <label>Prenom:</label>
    <input type="text" name="prenom">
  </p>
  <p>
    <label>Mot de passe:</label>
    <input type="text" name="mdp">
  </p>
  <p>
    <label>Email:</label>
    <input type="text" name="email">
  </p>
  <p>
   <button class="w3-orange w3-btn w3-round-xxlarge" type="submit">Inscription</button>
  </p>

  <ul class="w3-ul" style="list_style_type:disc; width:100%;">
  <a class="w3-button w3-hover-orange" style ="text-decoration:none;color:#cc0066; width:100%" href="/connexion">Retour</a>
</ul>
</form>

<% include foot %>
