


<% var title = 'Formulaire login' %>
<% include head %>

<div class="w3-display-container " style="height:500px">
  <div class="w3-container w3-orange">
    <div class="w3-bar">
      <div class="w3-bar-item w3-text-white"><h4>Panneau administrateur</h4></div>
    </div>
  </div>
</div>



<ul  class="w3-ul w3-card-4 w3-display-middle" style="list_style_type:disc; width:30%; margin_top: 60px">
  <a class="w3-button w3-hover-orange" style ="text-decoration:none; width:100%" href="/ajoutProduit">Ajouter un produit</a>
  <a class="w3-button w3-hover-orange" style ="text-decoration:none; width:100%" href="/suppressionProduit">Supprimer un produit</a>
  <a class="w3-button w3-hover-orange" style ="text-decoration:none; width:100%" href="/suppressionUtilisateur">Supprimer un utilisateur</a>
  <a class="w3-button w3-hover-orange" style ="text-decoration:none; width:100%" href="/connexion">Retour</a>

</ul>

<% include foot %>
